[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
googlemaps = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
responses = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn app.main:app --reload"
test = "python3 -m unittest discover -v app/tests"

[dev-packages]
